.crossword-tile {
  font-size: 2rem;
  text-align: center;
  width: 2rem;
  height: 2rem;
}

.crossword-tile--active {
  background-color: yellowgreen;
}
.crossword-tile--black {
  background-color: black;
}
.crossword-tile--correct {
  background-color: green;
}
.crossword-tile__number {
  background-color: purple;
}
